<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Asistencia funeraria</h1>
            <p>
                Asistencia Funeraria, servicio de pago directo que le resuelve a los deudos de una familia todos los gastos que derivan ante la pérdida de un ser querido. Incluye todos los servicios funerarios para económicamente respaldar a la familia ante una pérdida.
            </p>
            <p>
                Los servicios que incluye la asistencia son los siguientes:
            </p>
            <ul>
                <li>Asesoría y coordinación vía telefónica. </li>
                <li>Recolección del cuerpo.</li>
                <li>Servicio de Embalsamado.</li>
                <li>Arreglo Estético del cuerpo.</li>
                <li>Sala de velación.</li>
                <li>El servicio también puede otorgarse a domicilio, sin costo adicional.</li>
                <li>Ataúd básico en el caso de inhumación.</li>
                <li>Servicio de cremación y una urna en caso de cremación.</li>
                <li>Gestión de trámites.</li>
            </ul>
            <p>
                Es posible asegurar a un FAMILIAR, madre, padre, suegra, hermano o hermana, hijo o hija, menor de 24 años que sea dependiente económicamente del titular, tío (hermano del padre o la madre del titular)
                <br>Exclusiones:
            </p>
            <ul>
                <li>Evento por año por plan familiar.</li>
                <li>Se cubre por fallecimiento de muerte accidental, muerte natural, muerte por enfermedad crónica.</li>
                <li>Los traslados del cuerpo del lugar de fallecimiento a la agencia de inhumación será dentro de la distancia de 50 kilómetros, sin salir de la localidad de origen.</li>
                <li>Para traslados foráneos, tanto los permisos como el costo del traslado será a cuenta del titular o deudo, a costos preferenciales, con opción de descontar los gastos de la suma asegurada.</li>
            </ul>
            <p>
                ¿Qué hacer en caso de fallecimiento?
            </p>
            <ul>
                <li>Comunicarse a la línea de atención específica de la Asistencia Funeraria.</li>
                <li>Para CDMX: 54-80-85-68</li>
                <li>Para Interior de la República: 800-999-13-45</li>
                <li>Indica tu nombre completo y el número de identificación PLIIS ya que con él iniciarás tu o la persona de tu confianza el trámite vía telefónica.</li>
            </ul>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
