<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Nutricionista telefónico</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>Cuando el afiliado requiera, se prestará el servicio de asistencia nutricional telefónica, esta asistencia se brindará por parte de especialistas para consultas del cuadro nutricional de los alimentos (calorías, carbohidratos etc.) Índice de grasa corporal, dietas y referencias de nutricionistas, envío de información vía electrónica de dietas y recomendaciones para llevar una alimentación sana, incluye sugerencias para diabéticos, vegetarianos, veganos, intolerancia a la lactosa, etc.
                    </p>
                    <p>Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 1 del menú.
                    </p>
                    <p>
                        Para consultar las exclusiones, favor de leer Términos y Condiciones.
                    </p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Nutricionista.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
