<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Asistencia visual</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>La red de especialistas brindará la atención que el beneficiario del programa requiera en sus consultorios o establecimientos a costos preferenciales, con los siguientes beneficios:
                    </p>
                    <ul>
                        <li>Ópticas descuentos del 10% al 20%.</li>
                        <li>Examen de la vista sin costo.</li>
                        <li>Descuentos de Micas de Tratamiento y otras líneas de armazón</li>
                    </ul>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/AsistenciaVisual.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>

            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
