<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Servicio de vidriería</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>
                        Se brindará esta asistencia siempre y cuando sea a consecuencia de un hecho súbito e imprevisto que produzca la rotura de los vidrios de las ventanas que formen parte del cerramiento de la vivienda. Se enviará un técnico que realizará la asistencia de emergencia. Se entiende por vivienda casa, apartamento de uso habitacional, que corresponda a la residencia permanente del afiliado.
                    </p>
                    <p>
                        Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 5 del menú.
                    </p>
                    <p>
                        Para consultar las exclusiones, favor de leer Términos y Condiciones.
                    </p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Vidrieria.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
