<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Logros de las empresas en los que hemos contribuido.</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <ul>
                        <li>Ganadores de 4 Premios de Grupo Bimbo.</li>
                        <li>Empresa incluyente Gilberto Rincón Gallardo</li>
                        <li>Empresas libres de humo de tabaco</li>
                        <li>CT-PAT (Customs Trade Partnership Against Terrorism)</li>
                        <li>Certificaciones de: ISO, BASC, BRC, STPS,IFS, PROFEPA, entre otras.</li>
                    </ul>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <img src="./assets/demo/images/SNAC/Empresas00.png" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 80%;">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <ul>
                        <li>Premio Nacional de Calidad (PNC)</li>
                        <li>SQF Code Edition 7.2 (Safety & Quality Food)</li>
                        <li>Certificaciones de: OHI, Great Place to Work</li>
                        <li>Continúa capacitación en: KAIZEN & 5’s</li>
                    </ul>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-2 ui-lg-2"></div>
                <div class="ui-g-12 ui-md-8 ui-lg-8">
                    <img src="./assets/demo/images/SNAC/Empresas01.png" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 100%;">
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2"></div>
            </div>
        </div>
    </div>
</div>
</div>
