<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Check up médico de 6 elementos</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>Si el afiliado lo requiere, se pone a disposición un check up básico de 6 elementos (glucosa, creatinina, urea, ácido úrico, colesterol y triglicéridos), este se coordinará a través del Call center con 24 horas de anticipación, se ofrece al afiliado la interpretación de sus estudios con nuestro médico del call center.</p>
                    <p>Exclusiones:</p>
                    <ul>
                        <li>Sujeto a disponibilidad del proveedor.</li>
                        <li>Algunos de los laboratorios que se tienen en red son LAPI, Chopo, Salud Digna, para consultar comunícate a la línea 800 de PLIIS en la opción 4</li>
                        <li>Los estudios adicionales que el afiliado requiera o necesite tendrán un costo adicional.</li>
                    </ul>
                    <p>Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 4 del menú.</p>

                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Checkup.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
