<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Ambulancia terrestre por emergencia</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>
                        En caso de que el afiliado requiera un traslado médico terrestre de emergencia dentro del territorio mexicano a consecuencia de una lesión súbita o traumatismo que constituya una emergencia vital y que requiera un traslado médico en ambulancia, se coordinará y hará seguimiento hasta el arribo de unidades médicas para trasladar al beneficiario hasta el centro médico asistencial más cercano.
                    </p>
                    <p>Para consultar las exclusiones, favor de leer Términos y Condiciones Exclusiones:</p>
                    <ul>
                        <li>Queda excluido de la presente cobertura, traslados adicionales.</li>
                        <li>Queda excluido de la presente cobertura, pacientes con antecedentes dependientes de drogas,alcohol o psiquiátricos.</li>
                        <li>Ambulancias aéreas.</li>
                    </ul>
                    <p>Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 2 del menú.</p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Ambulancia.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>

            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
