<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Red veterinaria</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>
                        Zungu es una Red Veterinaria con beneficios hasta la comodidad de tu hogar. Evitas el estrés de tu mascota en traslado a la veterinaria, tiempo de espera y salir de su área de confort, además de convenirte a ti en optimizar tu tiempo, ya que los horarios de atención son muy flexibles.
                    </p>
                    <ul>
                        <li>Cobertura en CDMX y Zona Metropolitana.</li>
                        <li>Martes a Sábado de 9am a 7pm.</li>
                        <li>Domingos de 9am a 4pm.</li>
                    </ul>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Veterinarios.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
