<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Psicólogo telefónico</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>Si el afiliado lo requiere, se brindará la asistencia psicológica telefónica con asesoría especializada en padecimiento comunes, tales como: ansiedad, depresión, problemas interpersonales, etc.
                    </p>
                    <p>Exclusiones:</p>
                    <ul>
                        <li>No se recetará medicamento controlado.</li>
                        <li>Sólo asumirá responsabilidad por la gestión telefónica, asignado en los límites descriptos de la asistencia prestada, mas no se responsabilizará por los resultados finales, entendiéndose en todo caso, que es una obligación de medio y no de resultado.</li>
                    </ul>
                    <p>
                        Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 1 del menú.
                    </p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Psicologo.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
