<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Asistencia a la mujer</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <ul>
                        <li>Referencia de especialistas para servicio de armado de muebles de bebé.</li>
                        <li>Información de cursos psicoprofilácticos.</li>
                        <li>Referencias de cursos prenatales.</li>
                        <li>Tips sobre ejercicios prenatales.</li>
                        <li>Información y consejos sobre el cuidado del bebe.</li>
                    </ul>
                    <p>Exclusiones:</p>
                    <ul>
                        <li>Sujeto a disponibilidad del proveedor.</li>
                        <li>Sólo se asumirá responsabilidad por la gestión telefónica, asignado en los límites descriptos de la asistencia prestada, mas no se responsabilizará por los resultados finales, entendiéndose en todo caso, que es una obligación de medio y no de resultado.</li>
                        <li>Todo pago que se deba realizar correrá por cuenta del afiliado.</li>
                    </ul>
                    <p>Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 1 del menú.</p>

                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                <img src="./assets/demo/images/SNAC/AsistenciaMujer.jpg" alt="Logo"
                     style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
            </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
