<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Asistencia en cuidados de enfermería</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>Asistencia en Cuidados de enfermeria acompañantes de salud en sus ramas de enfermería, auxiliares y acompañantes terapéuticos. Busca poder brindar una mejor calidad de vida.</p>
                    <p>Entre expertos como Enfermeros Generales, Enfermeros Auxiliares (Cuidadores) y Terapias Especiales. Nuestra cobertura es todo Ciudad de México y Área Metropolitana.</p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Enfermeria.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
         </div>
    </div>
</div>
</div>
