<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Llamadas ilimitadas</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>Llamadas de 5 minutos ilimitadas a celulares en todo México, EEUU y Canadá, a números fijos en 50 países, solo marca 55 4744 2703 + NIP (numero de empleado).</p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/LlamadasIlimitadas.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
