<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>BWIGO mobile Viajes</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>Es la mejor plataforma de reserva de viajes, con acceso a miles de opciones de hoteles, renta de autos, traslados, atracciones opara que puedas organizar el viaje de tus sueños.</p>
                    <p>Contamos con los mejores proveedores en la industria de turismo para que siempre tengas a la mano los mejores servicios a los mejores precios.
                        <br>
                        <a href="http://viajes.bwigomobile.com" target="_blank">viajes.bwigomobile.com</a>
                    </p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Viajes.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
