<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4 ui-lg-4 ui-xl-3">
                        <a href="https://www.facebook.com/ChatbotDelegado-108593687298574/" target="_blank">
                        <div class="card">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <img src="assets/pages/images/contenido/delegado.svg" height="90px"
                                         style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                                    <h3 class="title font-weight-5"
                                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; text-align: center;">
                                        DELEGADO VIRTUAL
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ui-g-6 ui-md-4 ui-lg-4 ui-xl-3">
                    <a routerLink="/beneficios/llamadasIlimitadas">
                        <div class="card">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <img src="assets/pages/images/contenido/beneficios.svg" height="90px" width="90px"
                                         style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                                    <h3 class="title font-weight-5"
                                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; text-align: center;">
                                        BENEFICIOS
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ui-g-6 ui-md-4 ui-lg-4 ui-xl-3">
                    <a routerLink="academia">
                        <div class="card">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <img src="assets/pages/images/contenido/academia.svg" height="90px"
                                         style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                                    <h3 class="title font-weight-5"
                                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; text-align: center;">
                                        ACADEMIA
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ui-g-6 ui-md-4 ui-lg-4 ui-xl-3">
                    <a routerLink="calculoFiniquito">
<!--                    <a href="https://pliis.bwigo.com/liquidacion" target="_blank">-->
                        <div class="card">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <img src="assets/pages/images/contenido/finiquito.svg" height="90px"
                                         style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                                    <h3 class="title font-weight-5"
                                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; text-align: center;">
                                        CÁLCULO DE FIQUITO
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ui-g-6 ui-md-4 ui-lg-4 ui-xl-3">
                    <a routerLink="beneficios/serviciosFunerarios">
                        <div class="card">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <img src="assets/pages/images/contenido/finiquito.svg" height="90px"
                                         style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                                    <h3 class="title font-weight-5"
                                        style="display: block; margin-left: auto; margin-right: auto; width: 100%; text-align: center;">
                                        SERVICIOS FUNERARIOS
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ui-g-6 ui-md-4 ui-lg-4 ui-xl-3">
                    <a routerLink="/boletosCine">
                        <!--<a href="https://pliis.bwigo.com/cine" target="_blank">-->
                            <div class="card">
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <img src="assets/pages/images/contenido/finiquito.svg" height="90px"
                                             style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                                        <h3 class="title font-weight-5"
                                            style="display: block; margin-left: auto; margin-right: auto; width: 100%; text-align: center;">
                                            BOLETOS DE CINE
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="ui-g-6 ui-md-4 ui-lg-4 ui-xl-3">
                        <a routerLink="/panico">
                            <div class="card">
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <img src="assets/pages/images/contenido/exclamation-solid.svg" height="90px"
                                             style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                                        <h3 class="title font-weight-5"
                                            style="display: block; margin-left: auto; margin-right: auto; width: 100%; text-align: center;">
                                            BOTÓN DE PÁNICO
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

