<block-ui>
    <div class="ui-fluid">
        <p-toast></p-toast>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card no-margin">
                    <h1>Registro de familiares.</h1>

                    <form name="formaRegistro" novalidate #formaRegistro="ngForm">
                        <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-6 ui-lg-4">
                                <span class="md-inputfield">
                                    <input id="inputNombre" type="text" pInputText name="nombreInput" #nombreInput="ngModel" required="true"
                                           [(ngModel)]="nuevoMiembroArquitecturaDTO.nombres"/>
                                    <label>Nombre(s)*</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3 ui-lg-4">
                                <span class="md-inputfield">
                                    <input id="inputApellidoPaterno" type="text" pInputText name="apPaternoInput" #apPaternoInput="ngModel" required="true"
                                        [(ngModel)]="nuevoMiembroArquitecturaDTO.apellidoPaterno"/>
                                    <label>Apellido Paterno*</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3 ui-lg-4">
                                <span class="md-inputfield">
                                    <input id="inputApellidoMaterno" type="text" pInputText name="inputApellidoMaterno"
                                        [(ngModel)]="nuevoMiembroArquitecturaDTO.apellidoMaterno"/>
                                    <label>Apellido materno</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3 ui-lg-4">
                                <span class="md-inputfield">
                                    <p-calendar showButtonBar="true" [locale]="es" dateFormat="yy-mm-dd"
                                                [monthNavigator]="true" [yearNavigator]="true" yearRange="1917:2019" name="fechaNac"
                                                [(ngModel)]="nuevoMiembroArquitecturaDTO.fechaNacimiento" #fechaNac="ngModel" required="true"></p-calendar>
                                    <label>Fecha de nacimiento*</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3 ui-lg-4">
                                <span class="md-inputfield">
                                    <p-dropdown [options]="sexos" [(ngModel)]="sexoSeleccionado" optionLabel="nombre"
                                                name="sexoDropDown"></p-dropdown>
                                    <label>Sexo*</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3 ui-lg-4">
                                <span class="md-inputfield">
                                    <p-inputMask mask="(99)99999999" [(ngModel)]="nuevoMiembroArquitecturaDTO.telefono" placeholder="" #telefMask="ngModel"
                                                 required="true" size="30" name="telefMask" ></p-inputMask>
                                    <label>Teléfono*</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3 ui-lg-4">
                                <span class="md-inputfield">
                                    <input id="inputEmail" type="email" pInputText name="inputEmail" [(ngModel)]="nuevoMiembroArquitecturaDTO.email"
                                           required="true" #inputEmail="ngModel" />
                                    <label>Email*</label>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3 ui-lg-4">
                                <span class="md-inputfield">
                                    <input  type="text" pInputText name="inputCurp" required="true" #inputCurp="ngModel" [(ngModel)]="nuevoMiembroArquitecturaDTO.curp"/>
                                    <label>CURP*</label>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <button pButton type="button" label="Guardar" style="width:140px;display: block; margin-left: auto; margin-right: auto;" icon="ui-icon-person-add" (click)="registrarUsuario()" [disabled]="!formaRegistro.valid"></button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</block-ui>
<p-dialog header="Operación exitosa" [(visible)]="display" modal="true">
    Nuevo usuario creado.
    <p-footer>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <button pButton type="button" label="Ok" style="width:140px;display: block; margin-left: auto; margin-right: auto;" icon="ui-icon-check" (click)="closeDialog()"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>