<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Descuentos médicos</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>
                        Cuando el afiliado requiera, se prestará el servicio a través de la red de call center especializada, con la información de descuentos en laboratorios, estudios de gabinete, etc. con los que se tenga convenio.
                    </p>
                    <p>Exclusiones:</p>
                    <ul>
                        <li>Sujeto a disponibilidad del proveedor.</li>
                        <li>Sólo asumirá responsabilidad por la gestión telefónica, asignado en los límites descriptos de la asistencia prestada, mas no se responsabilizará por los resultados finales, entendiéndose en todo caso, que es una obligación de medio y no de resultado.</li>
                        <li>Sujeto a los descuentos colocados por el proveedor.</li>
                    </ul>
                    <p>Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 3 del menú.</p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/DescuentosMedicos.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
         </div>
    </div>
</div>
</div>
