<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Pediatra telefónico</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>En situaciones de emergencia médica, el afiliado tiene acceso las 24 horas los 365 días del año al servicio de la línea médica de asistencia donde un médico pediatra le atenderá la llamada y orientará en cual procedimiento seguir según la sintomatología manifestada en el niño, orientará las conductas provisionales que se deben asumir mientras se hace contacto profesional médicopaciente.</p>
                    <p>Exclusiones:</p>
                    <ul>
                        <li>El médico telefónico no modificará tratamientos médicos de uso crónico y/o especializado.</li>
                        <li>No se recetará medicamentos de uso controlado.</li>
                    </ul>
                    <p>
                        Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 1 del menú.
                    </p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Pediatra.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
