<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Médico telefónico</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>
                        En situaciones de emergencia médica, el titular tiene acceso las 24 horas los 365 días del año al servicio de la línea médica de asistencia donde un médico le atenderá la llamada y orientará en cual procedimiento seguir según la sintomatología manifestada, orientará las conductas provisionales que se deben asumir mientras se hace contacto profesional médico-paciente.
                    </p>
                    <p>
                        Exclusiones:
                    </p>
                    <ul>
                        <li>La asistencia se realiza sin límite de eventos y sin límite de cobertura 24 hrs, 365 días del año.</li>
                    </ul>
                    <p>
                        Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 1 del menú.
                    </p>

                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/MedicoTelefonico.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
