<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Servicios de plomeria</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>
                        Cuando a consecuencia de una avería súbita e imprevista en las instalaciones fijas del sistema de abastecimiento de agua potable propia de la vivienda del tarjetahabiente (instalaciones hidrosanitarias y/o agua potable), se presente alguna rotura o fuga de agua, avería o taponamiento que imposibilite el suministro del agua, se enviará un técnico especializado, que realizará la asistencia necesaria para restablecer el servicio, siempre y cuando el estado de las redes lo permitan, solo se cubre hasta un máximo de 3 metros por evento en destaponamiento.
                    </p>
                    <p>
                        Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias y en seguida a la opción 5 del menú.
                    </p>
                    <p>
                        Para consultar las exclusiones, favor de leer Términos y Condiciones.
                    </p>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Plomeria.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
