<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card">
                <h1>Servicios de cerrajería</h1>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <p>Cuando a consecuencia de cualquier accidente o emergencia, como pérdida, extravío o robo de
                            las llaves, inutilización de la cerradura por intento de hurto u otra causa que impida la
                            apertura de la vivienda, a solicitud del afiliado, IGS enviará un técnico especializado que
                            realizará la asistencia necesaria para restablecer el acceso a la vivienda y el correcto
                            cierre de la puerta de esta. El valor previsto para la prestación de este servicio incluye
                            el costo de los materiales, traslado del operario y la mano de obra.</p>
                        <p>Exclusiones:</p>
                        <ul>
                            <li>Quedan excluidas de la presente cobertura, la reparación y/o reposición de cerraduras y
                                puertas de madera, que impidan el acceso a partes internas del inmueble a través de
                                puertas interiores, así como también la apertura, cambio, reposición, o reparación de
                                cerraduras de guardarropas, alacenas o chapas de seguridad, electrónicas, importadas, o
                                de diseño especial.
                            </li>
                        </ul>
                        <p>Para conocer más acerca de la asistencia, comunicarse al 800 249 0585 opción 2 de Asistencias
                            y en seguida a la opción 5 del menú.</p>

                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <img src="./assets/demo/images/SNAC/Cerrajeria.jpg" alt="Logo"
                             style="display: flex; margin-left: auto; margin-right: auto; width: 70%;">
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <a routerLink="/" pTooltip="Regresar">
                            <i class="material-icons">home</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
