<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Academia</h1>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p>Club Academy se renueva
                        <a href="https://club.uvelop.mx/">https://club.uvelop.mx/</a>
                        UVELOP es la plataforma de E-learning, con metodología de aprendizaje en línea, con distintos cursos especializados en crecimiento personal y profesional. </p>
                    <ul>
                        <li>Videos y lecturas de instructores reconocidos a nivel mundial.</li>
                        <li>Contenido 100% online.</li>
                        <li>Progreso continuo de aprendizaje en tiempo real y medible.</li>
                        <li>La plataforma de aprendizaje que mejora la colaboración interna en las organizaciones y niveles corporativos.</li>
                    </ul>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="./assets/demo/images/SNAC/Academia.jpg" alt="Logo"
                         style="display: flex; margin-left: auto; margin-right: auto; width: 50%;">
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <a routerLink="/" pTooltip="Regresar">
                        <i class="material-icons">home</i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
